`HostAndPort.fromString(String)` parses non-ASCII ports

The method `HostAndPort.fromString(String)` parses non-ASCII ports due to its usage of `Integer.parseInt`:
https://github.com/google/guava/blob/2b6b844683e6ff63fc8ba676692cf636f74504fd/guava/src/com/google/common/net/HostAndPort.java#L195

For example:
```java
// 127.0.0.1:80
System.out.println(HostAndPort.fromString("127.0.0.1:8\u0660"));
```

Whether that is the intended behavior depends on which RFC this method wants to comply with (if any). Though for example [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#appendix-A) specifying the URI syntax defines port as `*DIGIT` (where `DIGIT` is `0`-`9` as defined by [RFC 2234](https://datatracker.ietf.org/doc/html/rfc2234#section-6.1)).
For reference, Java's `URI` class does not parse non-ASCII ports, but `URL` does (violating [RFC 1738](https://datatracker.ietf.org/doc/html/rfc1738#section-5)).

(Possibly relevant for #3052)