Add video MediaTypes

Missed several video MimeTypes in MediaType class:

    video/x-flv
    video/3gpp
    video/3gpp2

and some audio types:

    audio/basic
    audio/L24
    audio/aac
    audio/vorbis
    audio/x-ms-wma
    audio/x-ms-wax
    audio/vnd.rn-realaudio
    audio/vnd.wave


I started on this, but the `audio/L24` one is interesting because our MediaType class requires that all subtypes be lowercased. I didn't dig too much into it, but I suspect we do this for normalization (e.g., "image/gif" and "image/GIF" are treated as equal).

Maybe we shouldn't do this though? I'm not really sure. Any thoughts @gk5885 ?

From our own javadocs:
> All portions of the media type that are case-insensitive (type, subtype, parameter attributes) are normalized to lowercase.

So I wonder if we can just define it as:
`createConstant(AUDIO_TYPE, "l24");`

And @cpovirk points out:

> Both top-level type and subtype names are case-insensitive.

via https://tools.ietf.org/html/rfc6838#section-4.2

I found some other missed types:

image

    image/pjpeg: Progressive JPEG
    image/vnd.wap.wbmp: WBMP

text

    text/cmd: commands
    text/php: PHP scripts

message

    message/http (RFC 2616)
    message/imdn+xml: IMDN (RFC 5438)
    message/partial: E-mail (RFC 2045 and RFC 2046)
    message/rfc822: E-mail; EML files, MIME files, MHT files, MHTML files (RFC 2045 and RFC 2046)

model

For 3D models

    model/example: (RFC 4735)
    model/iges: IGS files, IGES files (RFC 2077)
    model/mesh: MSH files, MESH files (RFC 2077), SILO files
    model/vrml: WRL files, VRML files (RFC 2077)
    model/x3d+binary: X3DB files
    model/x3d+vrml: X3DV VRML files
    model/x3d+xml: X3D XML files

x-pkcs (https://en.wikipedia.org/wiki/PKCS)

    application/x-pkcs12: p12 files
    application/x-pkcs12: pfx files
    application/x-pkcs7-certificates: p7b files (https://tools.ietf.org/html/rfc2315.html#section-9.1)
    application/x-pkcs7-certificates: spc files
    application/x-pkcs7-certreqresp: p7r files
    application/x-pkcs7-mime: p7c files
    application/x-pkcs7-mime: p7m files
    application/x-pkcs7-signature: p7s files

application

    application/EDI-X12: EDI X12 (RFC 1767)
    application/EDIFACT: EDI EDIFACT (RFC 1767)
    application/soap+xml: SOAP (RFC 3902)
    application/x-woff: Web Open Font Format
    application/xml-dtd: DTD (RFC 3023)
    application/xop+xml: XOP
    application/x-bittorrent: BitTorrent
    application/x-tex: TeX

x

    application/x-dvi: DVI
    application/x-latex: LaTeX files
    application/x-font-ttf: TrueType (not registered, but the most frequently used)
    application/x-stuffit: StuffIt
    application/x-rar-compressed: RAR
    text/x-jquery-tmpl: jQuery templates
    application/x-javascript:


Let's just add it as l24, lower-case. I don't see anything to worry about there.

We're handling the first 11, but if you want to add these others, would you be willing to send us a pull request?