Provide immutable MediaType class

_[Original issue](https://code.google.com/p/guava-libraries/issues/detail?id=823) created by **j...@nwsnet.de** on 2011-12-14 at 02:08 PM_

---

While the Java Mail API provides a content type class, it still has some drawbacks. Some are that it's not immutable (think constants) and it lacks a (static) constructor to create one just from primary and sub type as separate arguments without specifying a(n empty) list of parameters.

Also, HTTP uses MIME/content types as well, but those projects might not want to depend on an e-mail-related package.

My personal requirements:
- immutability
- Allow explicit addressing of the charset both on construction and as a getter (not just having to find it by key in the list of parameters).
- Provide matching of the primary type, the sub type, parameters, and combinations of all of those (say, primary type and sub type and charset).
- Maybe support matchers like "text/*", i.e. a wildcard for the sub type (that case might be sufficient). However, comparison with/without parameters (or just a selection of those) might require some further thinking.
- Handle case (in)sensivity as appropriate. There are different requirements for the parameters of certain MIME types on how to interpret their keys and values regarding that¹.
- Provide conversion methods from/to `ContentType`&nbsp;(Java Mail API).
- Have a thoughtful implementation of `equals`. I think everything should be compared, including parameters.

¹) From my own investigation:
- According to RFC 2045, section 5.1, the primary type, subtype, and parameter names must always be matched case insensitive.
- According to RFC 2046, section 4.1.2, the value of the charset parameter (implicit default: US-ASCII) is case insensitive, but the values of other parameters might not be.

I have implemented an immutable content type myself, but so far only included specifically the charset parameter of text types, but no other parameters (e.g. filename; not to confuse with the parameter of the `Content-Disposition: attachment`&nbsp;header).

Also, a builder-style approach might be useful to optionally add parameters as needed before the immutable instance is created.

On a related note, the Guava class that contains HTTP header keys is quite nice. Maybe something similar for common content types would make sense? In that case, the content type class' API should allow for composition of pre-defined primary/sub type combinations (plaintext, HTML, CSV, JSON, octet-stream, PDF, images etc.) with parameters to fit specific needs.
