InternetDomainName does not allow leading underscores incorrectly

I believe domain names are allowed to contain _ characters at any point in the label where as InternetDomainName.validatePart will reject domain names with leading or trailing underscores or dashes. Can this validation please be removed? or can you point me at the RFC describing the requirement for this validation?

http://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it

Another example of this. My browser is perfectly happy with www-.exampl.com but this is rejected by InternetDomainName as invalid. 

Hi, I was going to work on this issue but actually if you read RFC 1030 (`http://www.ietf.org/rfc/rfc1034.txt`) section 3.5 it does not allow underscores in the domain name I reckon.
Can someone advice please?

RE RFC 1034 section 3.5 - The title is "Preferred name syntax" 
I find this answer on SO pretty good. http://stackoverflow.com/a/2183140/91012

IMHO the syntax described in [RFC 1034](http://www.ietf.org/rfc/rfc1034.txt) (section 3.5) does not allow underscores, only hyphens. Am I missing something?

Check the comment http://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it/2183140#66390845 in the same SO post:

> [...] 1034 says "The labels must follow the rules for ARPANET host names. They must start with a letter, end with a letter or digit, and have as interior characters only letters, digits, and hyphen." Which part of that allows an underscore?

IMHO the syntax described in [RFC 1034](http://www.ietf.org/rfc/rfc1034.txt) (section 3.5) does not allow underscores, only hyphens. Am I missing something?

Check the comment http://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it/2183140#66390845 in the same SO post:

> [...] 1034 says "The labels must follow the rules for ARPANET host names. They must start with a letter, end with a letter or digit, and have as interior characters only letters, digits, and hyphen." Which part of that allows an underscore?

The problem is that InternetDomainName is not consistent in validation. It allows underscore in the middle of the domain name (for example domain_name.com, but it disallows _domainname.com. If you want to follow RFC 1034, section 3.5, which is quoted above, underscores should be disallowed at all IMO, because it states "...and have as interior characters only letters, digits, and hyphen."

I would prefer to allow underscore at the beginning of an InternetDomainName. The reason are DMARC records, which must have, according to their specs, the first domain component "_dmarc". So currently, InternetDomainName can't be used for DMARC DNS records.